#header-nav {
	height: 100px;
	background-color: gray;
}

h1 {
	color: black;
	margin: 10px 0 0 0;
	padding: 0;
}

#nav-list {
	margin-top: 15px;
}

.navbar-header button {
	margin-top: 30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

#nav-list a {
	background-color: yellow;
	text-align: center;
	font-weight: bold;
}

h2 {
	text-align: center;
}

#main-tiles {
	margin: 10px auto;
	padding: 10px;
}

#main-content {
	text-align: center;
	border: 3px solid;
	padding: 10px;
	background-color: yellow;
}

#main-content p {
	font-size: 1.3em;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */

}